[submodule "packages/utils/fastfetch"]
	path = packages/utils/fastfetch
	url = https://github.com/muink/openwrt-fastfetch
[submodule "luci/themes/luci-theme-aurora"]
	path = luci/themes/luci-theme-aurora
	url = https://github.com/eamonxg/luci-theme-aurora
[submodule "luci/app/luci-app-usbip-server"]
	path = luci/app/luci-app-usbip-server
	url = https://github.com/xRetia/luci-app-usbip-server.git
[submodule "luci/themes/luci-theme-glass"]
	path = luci/themes/luci-theme-glass
	url = https://github.com/rchen14b/luci-theme-glass.git
[submodule "luci/themes/uniwrt-luci"]
	path = luci/themes/uniwrt-luci
	url = https://github.com/ox1d3x3/uniwrt-luci.git
[submodule "luci/app/luci-app-cpu-status"]
	path = luci/app/luci-app-cpu-status
	url = https://github.com/gSpotx2f/luci-app-cpu-status.git
