[submodule "packages/utils/fastfetch"]
	path = packages/utils/fastfetch
	url = https://github.com/muink/openwrt-fastfetch
[submodule "luci/themes/luci-theme-aurora"]
	path = luci/themes/luci-theme-aurora
	url = https://github.com/eamonxg/luci-theme-aurora
[submodule "luci/themes/luci-theme-design"]
	path = luci/themes/luci-theme-design
	url = https://github.com/MomoFlora/luci-theme-design
	branch = openwrt-25.12
[submodule "luci/app/luci-app-usbip-server"]
	path = luci/app/luci-app-usbip-server
	url = https://github.com/xRetia/luci-app-usbip-server.git
